<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.kgc.point.batch.mapper.etc.SampleEtcMapper">
    <select id="getSampleEtcData" resultType="map">
        SELECT
        'SAMPLETEST4' AS TEST1
        , 'SAMPLETEST5' AS TEST2
        , 'SAMPLETEST6' AS TEST3
         FROM DUAL
    </select>
</mapper>