<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kgc.point.batch.domain.pos.mapper.SamplePosMapper">

    <select id="selectSamplePosData" resultType="map">
        SELECT
            POS_SEQ AS "posSeq"
            , COLUMN1 AS "column1"
            , PROC_FG AS "procFg"
            , COLUMN2 AS "column2"
        FROM POS_IF_TABLE1
        WHERE 1=1
        AND PROC_DT IS NULL
--         LIMIT 10000
    </select>

    <select id="selectSamplePosSeq" resultType="map">
        SELECT
            MIN(POS_SEQ) AS minPosSeq,
            MAX(POS_SEQ) AS maxPosSeq,
            100 AS totalReadCount
--             COUNT(*) AS total_read_count
        FROM POS_IF_TABLE1
        WHERE 1=1
          AND PROC_DT IS NULL
          LIMIT 100
--         LIMIT 10000
    </select>
    <select id="selectSamplePosData2" parameterType="map" resultType="map">
        SELECT
            POS_SEQ AS "posSeq"
             , COLUMN1 AS "column1"
             , PROC_FG AS "progFg"
             , COLUMN2 AS "column2"
        FROM POS_IF_TABLE1
        WHERE 1=1
          AND PROC_DT IS NULL
          AND POS_SEQ BETWEEN #{minPosSeq} AND #{maxPosSeq}
          LIMIT 1
    </select>

    <insert id="insertSamplePosData" parameterType ="map">
        INSERT INTO POS_IF_TABLE1 VALUES (LPAD(nextval(POS_SEQ), 6, '0'), #{column1}, 'I', #{column2}, SYSDATE(), NULL)
    </insert>

    <update id="updateSamplePosData" parameterType="map">
        UPDATE POS_IF_TABLE1
        SET PROC_DT = SYSDATE()
        WHERE 1=1
        AND POS_SEQ = #{posSeq}
        AND COLUMN1 = #{column1}
    </update>

    <update id="updateSamplePosDataList" parameterType="list">
        <foreach collection="list" item="item" index="index" separator=";" close=";">
            UPDATE POS_IF_TABLE1
            SET PROC_DT = SYSDATE()
            WHERE 1=1
            AND POS_SEQ = #{item.posSeq}
            AND COLUMN1 = #{item.column1}
        </foreach>
    </update>
</mapper>