<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kgc.point.batch.domain.pos.mapper.SamplePosMapper">
    <resultMap id="posIfTableMap" type="HashMap">
        <id column="POS_SEQ" property="posSeq"></id>
        <id column="COLUMN1" property="column1"></id>
        <id column="PROC_FG" property="procFg"></id>
        <id column="COLUMN2" property="column2"></id>
        <id column="MIN_POS_SEQ" property="minPosSeq"></id>
        <id column="MAX_POS_SEQ" property="maxPosSeq"></id>
        <id column="TOTAL_READ_COUNT" property="totalReadCount"></id>
    </resultMap>

    <select id="SamplePosMapper" resultMap="posIfTableMap">
        SELECT  /* SamplePosMapper.selectSamplePosData - 샘플 POS I/F 데이터 조회 */
              POS_SEQ AS POS_SEQ
            , COLUMN1 AS COLUMN1
            , PROC_FG AS PROC_FG
            , COLUMN2 AS COLUMN2
        FROM POS_IF_TABLE1
        WHERE 1=1
        AND PROC_DT IS NULL
    </select>

    <select id="selectSamplePosSeq" resultMap="posIfTableMap">
        SELECT  /* SamplePosMapper.selectSamplePosSeq - 샘플 POS 전체 건수 및 SEQ 조회 */
              MIN(POS_SEQ) AS MIN_POS_SEQ
            , MAX(POS_SEQ) AS MAX_POS_SEQ
            , 100 AS TOTAL_READ_COUNT
        FROM POS_IF_TABLE1
        WHERE 1=1
        AND PROC_DT IS NULL
        LIMIT 100
    </select>
    <select id="selectSamplePosData2" parameterType="map" resultMap="posIfTableMap">
        SELECT   /* SamplePosMapper.selectSamplePosData2 - 샘플 POS SEQ 최소/최대값으로 데이터 조회 */
              POS_SEQ AS POS_SEQ
            , COLUMN1 AS COLUMN1
            , PROC_FG AS PROC_FG
            , COLUMN2 AS COLUMN2
        FROM POS_IF_TABLE1
        WHERE 1=1
          AND PROC_DT IS NULL
          AND POS_SEQ BETWEEN #{minPosSeq} AND #{maxPosSeq}
          LIMIT 1
    </select>

    <insert id="insertSamplePosData" parameterType ="map">
        INSERT INTO POS_IF_TABLE1 ( /* SamplePosMapper.insertSamplePosData - 샘플 POS 데이터 등록 */
              POS_SEQ   /* SEQ */
            , COLUMN1   /* 컬럼1 */
            , PROC_FG   /* 처리구분 */
            , COLUMN2   /* 컬럼2 */
            , INSERT_DT /* 등록일시 */
            , UPDATE_DT /* 변경일시 */
        ) VALUES (
              LPAD(nextval(POS_SEQ), 6, '0')
            , #{column1}
            , 'I'
            , #{column2}
            , SYSDATE()
            , NULL)
    </insert>

    <update id="updateSamplePosData" parameterType="map">
        UPDATE  /* SamplePosMapper.updateSamplePosData - 샘플 POS 데이터 처리결과 단건 update */
            POS_IF_TABLE1
        SET PROC_DT = SYSDATE()
        WHERE 1=1
        AND POS_SEQ = #{posSeq}
        AND COLUMN1 = #{column1}
    </update>

    <update id="updateSamplePosDataList" parameterType="list">
        <foreach collection="list" item="item" index="index" separator=";" close=";">
            UPDATE /* SamplePosMapper.updateSamplePosDataList - 샘플 POS 데이터 처리결과 다건 update */
                POS_IF_TABLE1
            SET PROC_DT = SYSDATE()
            WHERE 1=1
            AND POS_SEQ = #{item.posSeq}
            AND COLUMN1 = #{item.column1}
        </foreach>
    </update>
</mapper>