<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.kgc.point.batch.mapper.point.SampleMapper">
    <select id="getSampleData" resultType="map">
        SELECT
        'SAMPLETEST' AS TEST1
        , 'SAMPLETEST2' AS TEST2
        , 'SAMPLETEST3' AS TEST3
         FROM DUAL
    </select>
</mapper>